@import url('style.css');

/*font*/
body {
    font-family: "微软雅黑";
    font-size: 16px;
    color: #444444;
    background-color: #f8f8f8;
}
/* Base */
html {
    min-height: 100%;
    position: relative;
}
a{
    color: #444444;
    text-decoration: none
}
.nav-font{
    font-size: 14px;
}
.freetrial-btn{
    margin: 8px 0 0 8px;
    font-size: 16px;
}
/*设置距离调试控制台的外间距*/
.pi-main-container {
    padding-bottom: 80px;
}

/*page header start*/
.social-header{
    padding-bottom: 0;
    margin: 0;
    border-bottom: 0;
    background-color: #f1f1f1;
}
.social-header .control-label{
    line-height: 53px;
    float: right;
    display: inline-block;
    margin-bottom: 0px;
}
.social-header .contact{
    padding: 0 22px;
    font-size: 18px;
    font-weight: bold;
}
.social-header .contact .fa{
    font-size: x-large;
}
.social-header form{
    padding: 9px 0;
}
.social-header .input-group{
    width:220px;
}
.social-header .input-group-btn{
    width: 17%;
}
/*page header end*/


/*navigation start*/
.navbar{
    min-height: 50px;
    margin-bottom: 0px;
}
.navbar-nav>li>span{
    padding: 10px;
    line-height: 30px;
}
.navbar-brand {
    float: left;
    padding: 15px 15px 0px;
    font-size: 18px;
    line-height: 0;
    height: 100%;
}
.navbar-collapse.collapse{
    padding: 18px 0;
}
.navbar-default {
    background-color: #ffffff;
    border:0;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
    /*color: #FFF;*/
    /*background-color: #7ca500;*/
    color: #ea5404;
    background-color: #ffffff;
}
.navbar-toggle{
    margin-top: 20px;
    margin-bottom: 20px;
}
.pi-navbar-nav li:hover >ul{
    display: block;
}
.navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-top: 2px solid #ea5404;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus{
    background-color: #ea5404;
}
.nav>li>a{
    padding: 6px 0px;
    text-align: center;
}
/*navigation end*/

/*navigation second level dropdown list*/
.pi-navbar-nav ul {
    display: none;
}


/*屏幕不小于768px情况的导航设置*/
@media (min-width: 768px) {

    /*navigation*/
    .navbar-default .navbar-form {
        width: 250px;
    }

    .navbar-nav>li>a {
        padding-top: 6px;
        padding-bottom: 6px;
        border-radius: 3px;
    }
    .navbar-nav.navbar-right:last-child{
        margin-right: 0px;
    }

    .pi-navbar-nav >li {
        /*position: relative;*/
        /*padding-bottom: 8px;*/

        margin: 12px 16px 0px 16px;
        padding-bottom: 8px;
    }

    .pi-navbar-caret {
        display: none;
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        bottom: -1px;
        margin-left: -8px;
        border-bottom: 8px solid #fff;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        z-index: 1002;
    }

    .pi-navbar-caret-outer {
        border-bottom: 8px solid #c2c2c2;
        bottom: 0;
        z-index: 1001;
    }

    .pi-navbar-nav ul .dropdown-menu {
        left: 100%;
        top: -5px;
    }
}


/*block start*/
.panel-body{
    padding: 0;
}
.panel-body >:last-child {
    margin-bottom: 0;
}
.panel {
    margin-bottom: 0px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*block  end*/


/* tab start*/
.pi-tab{
    font-size: 12px;
}
.pi-tab h4{
    padding-bottom: 20px;
    padding-top: 25px;
}
.nav-tabs {
    border:  none;
    background-color: #f8f8f8;
    font-size: 18px;
}
.pi-tab .tab-content p{
    width: 299px;
    display: inline-block;
}
.nav-tabs > li.active > a,
.pi-tab .nav-tabs > li.active > a:hover,
.pi-tab .nav-tabs > li.active > a:focus{
    background-color: transparent;
    border: none;
    color: #FF0000;
    border-bottom: 1px solid red;
    background: url(../image/triangle-red.png) no-repeat bottom;
}
.nav-tabs > li.active > span{
    display: block;
}
.nav-tabs > li > a {
    color: #444444;
    text-decoration: none;
}
/*
选项卡选中状态 红色三角形
.nav-tabs .pi-navbar-caret-tab{
    border-bottom: 8px solid red;
    bottom: 0;
    z-index: 1001;
}
*/
/* tab end*/


/* Footer start*/
.social-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 14px;
    color: #444444;
    padding-top: 16px;
    padding-left: 0;
    background-color: #ffffff;
}

.social-footer img{
    padding: 0 0 0 10px;
}

.social-footer li {
    display: inline;
    padding: 0 2px;
}

#pi-logger-output {
    position: relative;
    top: 60px;
}
/* Footer end*/


/*
.has-icon-right .help-block,
.has-icon-right .control-label,
.has-icon-right .radio,
.has-icon-right .checkbox,
.has-icon-right .radio-inline,
.has-icon-right .checkbox-inline {
    color: #000000;
}
.has-icon-right .form-control {
    border-color: #000000;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-icon-right .form-control:focus {
    border-color: #333333;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.has-icon-right .input-group-addon {
    color: #000000;
    border-color: #000000;
    background-color: #dff0d8;
}
.has-icon-right .form-control-feedback {
    color: #000000;
}
*/
.app-title{
    font-size: 14px;
}
.app-summary{
    font-size: 12px;
}
/***module start**/
.module-container .summery-title {
    font-size: 18px;
    padding:7px 0 15px;
}
.module-container .summery-content {
    font-size: 12px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 25px;
}
.module-container{
    padding: 30px 0;
}
.module-container .nav{
    padding-right: 30px;
}
.module-container .list-title{
    padding-top: 30px;
    font-size: 18px;
}
.module-container .media:first-child{
    margin-top: 15px;
}
.module-container .col-md-10{
    border-left: 1px solid #cccccc;
    padding-left: 30px;
}
.module-container .app-title{
    padding: 15px 0;
    width: 88px;
    text-align: center;
}
.module-container .app-container{
    height: 88px;
}
.module-container .app-more{
    font-size: 12px;
    text-align: right;
}
.module-container .app-more a{
    color: #007ed0;
}
/***module end**/


/***freetrial module start**/
.freetrial-container{
    margin-top: 30px;
    background-color: #ffffff;
    padding: 0px 70px;
}
.freetrial-container .row .col-md-6:first-child {
    border-right: 1px solid #eff2f5;
}
.freetrial-container .freetrial-title{
    line-height: 30px;
}
.freetrial-container h4{
    line-height: 32px;
    border-bottom: 1px solid #eff2f5;
    padding-bottom: 10px;
    font-weight: bold;
}
.freetrial-container .left-prompt{
    color: #1b2e42;
    font-size: 14px;
    font-weight: bold;
    margin: 20px;
    display: inline-block;
}

.freetrial-container .detail-read{
    width: 280px;
    height: 200px;
    margin: 40px auto;
    background: url("../image/detail-read.png");
}
.freetrial-container .right-prompt{
    color: #666666;
}
.freetrial-container .right-prompt .prominent{
    color: #fc8045;
}

/***freetrial module start**/