


.about-intro-box {
    height: 270px;
    margin-top: 45px;
}

.about-goal-box {
    height: 320px;
    margin-top: 54px;
}


.box-header span {
    font-size: 18px;
    font-weight: bolder;
    padding-left: 5px;
    color: #777;
}

.box-content {
    margin-top: 17px;
    height: 220px;
}

.box-img {
    float: left;
}

.box-txt-content {
    width: 780px;
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.box-txt {
    float: left;
    margin-left: 15px;
    margin-bottom: 30px;
    color: #777;
}



